<mat-dialog-content>
  <h2 [innerHTML]="data.content"></h2>
</mat-dialog-content>
<mat-dialog-actions fxFlexLayout="row">
  <span class="button-wrapper" fxFlex="50">
    <button mat-button mat-dialog-close>Cancel</button>
  </span>
  <span class="button-wrapper" fxFlex="50">
    <button mat-raised-button [mat-dialog-close]="true" *ngIf="!data.marked" color="primary">Mark It!</button>
    <button mat-raised-button [mat-dialog-close]="false" *ngIf="data.marked" color="primary">Unmark It!</button>
  </span>
</mat-dialog-actions>