:host {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
}
.button {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 16px;
  white-space: initial;
}

@media(max-width: 480px) {
  .button {
    min-width: auto;
    line-height: 10px;
    font-size: 10px;
    padding: 0 5px;
  }
}